@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
/*font-family: 'Monoton', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
/*font-family: 'Cormorant Garamond', serif;*/
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
/*font-family: 'Share Tech Mono', monospace;*/

* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

.container {
    width: 1366px;
    height: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333742;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin: 20px 0;
}

.sidenav a:hover {
    color: #8F6B54;
    letter-spacing: 8px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#Nav {
    width: 145px;
    height: 100px;
    border: none;
    background: transparent;
    position: sticky;
    z-index: 50;
    top: 0;
    left: 50px;
    cursor: pointer;
}

.About {
    background: url("../img/China/ch5.jpg") center top no-repeat fixed;
    background-size: cover;
    height: 100%;
}

.Information {
    width: 50%;
    height: 100%;
    float: right;
    background: rgba(255, 255, 255, 0.7);
    padding: 50px 0;
}

.Information > h2 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.Information > p {
    font-size: 26px;
    text-align: justify;
    padding: 0 20px;
}

.InformationTable {
    width: 50%;
    float: left;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 0;
    margin-top: 25%;
}

.InformationTable > table {
    border-collapse: separate;
    border-spacing: 0 1.5em;
    padding: 0 20px;
    width: 100%;
}

.InformationTable tr > td:first-child {
    font-weight: bold;
    font-size: 26px;
}

.InformationTable tr > td:last-child {
    font-size: 26px;
    text-align: right;
}

.InformationTable tr > td[colspan] {
    text-align: center;
    font-size: 60px;
    font-weight: normal;
}

.accordion {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 50px auto;
}

.accordion ul {
    width: 100%;
    height: 500px;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
}

.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.accordion ul li div a {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
    vertical-align: bottom;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    transition: all 200ms ease;
}

.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    position: relative;
    z-index: 5;
    overflow: hidden;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.accordion ul li div a h2 {
    font-family: 'Share Tech Mono', monospace;
    text-overflow: clip;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 2px;
    top: 400px;
}

.accordion ul li div a p {
    top: 280px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    height: 100px;

}

.accordion ul li:nth-child(1) {
    background: url("../img/China/sight01.jpg") top center no-repeat;
    background-size: cover;
}

.accordion ul li:nth-child(2) {
    background: url("../img/China/sight02.jpg") top center no-repeat;
    background-size: cover;
}

.accordion ul li:nth-child(3) {
    background: url("../img/China/sight03.jpg") top center no-repeat;
    background-size: cover;
}

.accordion ul li:nth-child(4) {
    background: url("../img/China/sight04.jpg") top center no-repeat;
    background-size: cover;
}

.accordion ul li:nth-child(5) {
    background: url("../img/China/sight05.jpg") top center no-repeat;
    background-size: cover;
}

.accordion ul li:nth-child(6) {
    background: url("../img/China/sight06.jpg") top center no-repeat;
    background-size: cover;
}

.accordion ul:hover li {
    width: 8%;
}

.accordion ul:hover li:hover {
    width: 60%;
}

.accordion ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }

    .accordion {
        height: auto;
    }

    .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }
}

.FoodNetherlands {
    margin-bottom: 20px;
}

.SectionTitle:not(#First) {
    margin: 50px auto 25px auto;
}

.SectionTitle {
    width: 50%;
    margin: auto;
}

.SectionTitle h2 {
    text-align: center;
    font-size: 80px;
    font-weight: normal;
    font-family: 'Monoton', cursive;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.text {
    color: #333742;
    padding: 8px 12px;
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
    transition: .5s ease;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.text h2 {
    font-weight: normal;
    font-family: 'Share Tech Mono', monospace;
    font-size: 50px;
    margin: 10px 0 20px 0;
}

.text p {
    font-size: 30px;
    text-align: justify;
    padding: 0 40px;
    opacity: 0;
    line-height: 45px;
}

.mySlides:hover .text {
    top: 0;
    height: 100%;
}

.mySlides:hover .text p {
    opacity: 1;
    transition-delay: 0.4s;
}

.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.PeopleNetherlands .container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.PeopleNetherlands .Person {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 10px;
}

.PeopleNetherlands .overlay {
    position: absolute;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.PeopleNetherlands .Person:hover .overlay {
    width: 100%;
    left: 0;
}

.PeopleNetherlands .Person h2 {
    color: #333742;
    display: block;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.PeopleNetherlands .Person:first-of-type {
    background: url("../img/China/Lee.jpg") top center no-repeat;
    background-size: cover;
}

.PeopleNetherlands .Person:nth-of-type(2) {
    background: url("../img/China/Mao.jpg") top center no-repeat;
    background-size: cover;
}

.PeopleNetherlands .Person:nth-of-type(3) {
    background: url("../img/China/Xi.jpg") top center no-repeat;
    background-size: cover;
}

.PeopleNetherlands .Person:nth-of-type(4) {
    background: url("../img/China/Yao.jpg") top center no-repeat;
    background-size: cover;
}

.PeopleNetherlands .Person:nth-of-type(5) {
    background: url("../img/China/Ma.jpg") top center no-repeat;
    background-size: cover;
}

.PeopleNetherlands .Person:last-of-type {
    background: url("../img/China/Conf.jpg") top center no-repeat;
    background-size: cover;
}

@media all and (max-width: 1366px) {
    .container {
        width: 100%;
        margin: 0;
    }

    #Nav {
        left: 0;
    }

    .Information, .InformationTable {
        width: 80%;
        margin: 10px auto 10px auto;
        float: none;
    }

    .SectionTitle {
        width: 100%;
        margin: auto;
    }

    .SectionTitle h2 {
        font-size: 60px;
    }

    .accordion ul li div a p {
        top: 200px;
    }

    .text {
        padding: 8px 6px;
        top: 85%;
        width: 100%;
        height: 15%;
    }

    .text h2 {
        font-size: 30px;
        margin: 5px 0 20px 0;
    }

    .text p {
        font-size: 20px;
        line-height: 25px;
    }
}