@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
/*font-family: 'Monoton', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
/*font-family: 'Cormorant Garamond', serif;*/
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
/*font-family: 'Share Tech Mono', monospace;*/

* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333742;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin: 20px 0;
}

.sidenav a:hover {
    color: #8F6B54;
    letter-spacing: 8px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#Nav {
    width: 145px;
    height: 100px;
    border: none;
    background: transparent;
    position: sticky;
    z-index: 50;
    top: 0;
    left: 50px;
    cursor: pointer;
}


.MainPage {
    background: url("../img/bg_Main.jpg") center center no-repeat fixed;
    background-size: cover;
    height: 1000px;
}

.MainPage h1 {
    text-align: center;
    padding-top: 330px;
    font-weight: normal;
    font-size: 50px;
    color: #333742;
    pointer-events: none;
}

.MainPage h2 {
    font-weight: normal;
    text-align: right;
    font-size: 40px;
    margin-top: 40px;
    color: #333742;
    pointer-events: none;
}


.Countries {
    margin: 20px 0;
}

.Countries > .container {
    position: relative;
    height: 1550px;
}

.Countries h2 {
    opacity: 1;
    margin: auto;
    font-weight: normal;
    font-size: 36px;
    color: #333742;
    cursor: default;
}

.Countries a {
    font-size: 22px;
    color: #8F6B54;
    text-decoration: none;
}

.Countries a:hover {
    letter-spacing: 5px;
}

.Netherlands {
    display: inline-block;
    width: 48%;
    height: 700px;
    text-align: center;
    background: url("../img/Netherlands/neth_bg.jpg") top center no-repeat;
    background-size: cover;
    position: absolute;
}

.Netherlands > #OverlayNetherlandsHide {
    position: absolute;
    width: 100%;
    top: 40%;
    background: rgb(255, 255, 255, 0.7);
    padding: 20px 0;
    transform-origin: 50% 50%;
    transform: scale(1);
}

.Netherlands > #OverlayNetherlandsShow {
    opacity: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 40%;
    background: rgb(255, 255, 255, 0.7);
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transform: translateY(-100px);
}

.Netherlands > #OverlayNetherlandsShow > button {
    width: 100px;
    height: 100%;
    margin: 0 10px;
    padding: 20px 0;
    background: transparent;
    border: 1px solid transparent;
    font-size: 24px;
    cursor: pointer;
}

.Netherlands > #OverlayNetherlandsShow > button:hover {
    letter-spacing: 5px;
}

.Netherlands > #OverlayNetherlandsShow > a {
    transform: translateX(50px) translateY(-40px);
    font-size: 50px;
}

.Netherlands > #OverlayNetherlandsShow > a:hover {
    letter-spacing: normal;
}


.India {
    display: inline-block;
    width: 50%;
    height: 850px;
    text-align: center;
    background: url("../img/India/in1.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 50px;
    right: 0;
}

.India > #OverlayIndiaHide {
    position: absolute;
    width: 100%;
    top: 45%;
    background: rgb(255, 255, 255, 0.7);
    padding: 20px 0;
}

.India > #OverlayIndiaShow {
    opacity: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 45%;
    background: rgb(255, 255, 255, 0.7);
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transform: translateY(-100px);
}

.India > #OverlayIndiaShow > button {
    width: 100px;
    height: 100%;
    margin: 0 10px;
    padding: 20px 0;
    background: transparent;
    border: 1px solid transparent;
    font-size: 24px;
    cursor: pointer;
}

.India > #OverlayIndiaShow > button:hover {
    letter-spacing: 5px;
}

.India > #OverlayIndiaShow > a {
    transform: translateX(60px) translateY(-40px);
    font-size: 50px;
}

.India > #OverlayIndiaShow > a:hover {
    letter-spacing: normal;
}


.Japan {
    display: inline-block;
    width: 40%;
    height: 800px;
    text-align: center;
    background: url("../img/Japan/jp3.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    left: 5%;
    bottom: 0;
}

.Japan > #OverlayJapanHide {
    position: absolute;
    width: 100%;
    top: 45%;
    background: rgb(255, 255, 255, 0.7);
    padding: 20px 0;
}

.Japan > #OverlayJapanShow {
    opacity: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 45%;
    background: rgb(255, 255, 255, 0.7);
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transform: translateY(-100px);
}

.Japan > #OverlayJapanShow > button {
    width: 100px;
    height: 100%;
    margin: 0 10px;
    padding: 20px 0;
    background: transparent;
    border: 1px solid transparent;
    font-size: 24px;
    cursor: pointer;
}

.Japan > #OverlayJapanShow > button:hover {
    letter-spacing: 5px;
}

.Japan > #OverlayJapanShow > a {
    transform: translateX(0px) translateY(-40px);
    font-size: 50px;
}

.Japan > #OverlayJapanShow > a:hover {
    letter-spacing: normal;
}

.China {
    display: inline-block;
    width: 52%;
    height: 600px;
    text-align: center;
    background: url("../img/China/ch1.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}

.China > #OverlayChinaHide {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 40%;
    background: rgb(255, 255, 255, 0.7);
    padding: 20px 0;
    transform-origin: 50% 50%;
    transform: scale(1);
}

.China > #OverlayChinaShow {
    opacity: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 40%;
    background: rgb(255, 255, 255, 0.7);
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transform: translateY(-100px);
}

.China > #OverlayChinaShow > button {
    width: 100px;
    height: 100%;
    margin: 0 10px;
    padding: 20px 0;
    background: transparent;
    border: 1px solid transparent;
    font-size: 24px;
    cursor: pointer;
}

.China > #OverlayChinaShow > button:hover {
    letter-spacing: 5px;
}

.China > #OverlayChinaShow > a {
    transform: translateX(70px) translateY(-40px);
    font-size: 50px;
}

.China > #OverlayChinaShow > a:hover {
    letter-spacing: normal;
}


@media all and (max-width: 1366px) {

    #Nav {
        left: 0;
    }

    .container {
        width: 100%;
    }

    .Countries>.container {
        height: 3000px;
    }

    .Netherlands, .India, .Japan, .China {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }

    .Japan {
        background-size: cover;
        left: 0;
        margin: 100px auto 40px 0;
    }

    .Netherlands > #OverlayNetherlandsShow > a, .India > #OverlayIndiaShow > a, .Japan > #OverlayJapanShow > a, .China>#OverlayChinaShow>a {
        transform: translateX(20px) translateY(-40px);
        font-size: 50px;
    }
}